body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

#tablaDatos {
    margin-top: 10px;
}

#tablaResultadoBusqueda {
    margin-top: 10px;
}

#resultadoBusqueda tr:hover {
    background-color: #f0f0f0;
}
